html{
    background-color: black;
    font-family: Nunito, sans-serif;
   
}

.container{
    
display: flex;
flex-direction: row;
justify-content: center;
height: 900px;
min-width: 600px;
background-color: rgb(0, 0, 0);
}

.logo{
    
    height: 150px;
    width: 150px;
    transform: scaleX(-1);
}
.logo-box{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.397);
}

.box-1{
    background-image: url('https://images.unsplash.com/photo-1615033763013-eade12ef8de3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    
   

}

.box-2{
    height:100%;
    width: 54%;
    background-color: #feffd3;
    display: flex;
    flex-direction: column;
    
   align-content: space-evenly; 
   
 

}
.box-a{
    
    height: 30%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-b{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f1f1c6;
    box-shadow: 3px 8px 7px #0c0c0ca1;  
}

.box-c{
   
    height: 30%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
     
}

label{
    display: block;
    font-size: 18px;
}
input{
    border-color: #cec5c5;
    width: 200px;
    height: 20px;
    border-radius: 5px;
}

input:focus{
    box-shadow: 3px 8px 7px #0c0c0ca1; 
    outline: none !important;
    border:2px solid rgb(38, 127, 243);

}
a{
    color: blue;
}
a:hover{
    color: rgb(3, 116, 9);
}

fieldset{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: none;
}

button{
    background-color: orange;
    font-size: 15px; 
    border-radius: 10px;
    width: 120px;
    height: 50px;
   


}